.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 500px;
  height: 400px;
  border: 1px solid #ebb54e;
  border-radius: 10px;
  box-shadow: 0 0 5px #ebb54e;
  color: #5cc3ae;
}
.product img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.add-to-cart {
  background-color: #cc8581;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: white;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whiqte;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 35%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: green;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #cc8581;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}
.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #ebb54e;
  background-color: #21374c;
  color: #5cc3ae;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}
.cart-row:last-child {
  border-bottom: 1px solid #ebb54e;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  margin-right: 20px;
}

.cart-total-price {
  color: green;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
.btn-danger {
  border: none;
  background-color: #c34b31;
}
.name input {
  width: 30%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5cc3ae;
  background-color: #121212;
  background-clip: padding-box;
  border: 1px solid #ebb54e;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.email input {
  width: 30%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5cc3ae;
  background-color: #121212;
  background-clip: padding-box;
  border: 1px solid #ebb54e;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.email input:focus {
  background-color: rgba(255, 255, 255, 0.16);
  color: white;
  border-color: #ebb54e;
}
.name input:focus {
  background-color: rgba(255, 255, 255, 0.16);
  color: white;
  border-color: #ebb54e;
}

.purchase {
  background-color: #5cc3ae;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}
